<div class="list">
  <div><h1>List of Watches</h1>
  <a href="" routerLink="watch">Click Here....</a>
</div>
  <div><h1>List of Shoes</h1>

    <a href="" routerLink="shoes">Click Here....</a></div>
</div>

<div class="productlist">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Titan Ultra</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a><br/>
    <a href="#" class="btn btn-primary">Order Now</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sonata</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a><br/>
    <a href="#" class="btn btn-primary">Order Now</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">HMT</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a><br/>
    <a href="#" class="btn btn-primary">Order Now</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">FastTrack</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a><br/>
    <a href="#" class="btn btn-primary">Order Now</a>
  </div>
</div>

<div class="">
  <router-outlet></router-outlet>
</div>
</div>

